@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link href="~/css/main.css" rel="stylesheet" type="text/css" />
<div class="text-center">
    <img src="~/img/opener.png" class="maintitle">
    <br>
    <a class="nav-link btn btn-primary arf" asp-area="" asp-page="/GamePlay/Intro/Index" >New game</a>
    <img class="animation1 ship1 shipgeneral" src="~/img/mover2.png">
    <img class="animation2 ship2 shipgeneral" src="~/img/mover1.png">
        <img class="animation3 ship3 shipgeneral" src="~/img/mover3.png">
    <img class="animation4 ship4 shipgeneral" src="~/img/mover4.png">
    <img class="animation5 ship5 shipgeneral" src="~/img/mover5.png">
</div>

<style>

</style>